

#logo-icon{
    width: 100px
}
.profile  {
        width: 500px;
        margin: 10px;
    }
.linkedin {
        width: 100px;
        margin: 10px;
    }
.github {
        width: 100px;
        margin: 10px;
    }
.about-me {
        width: 33px;
        height: 250px;
        padding: 2%;
        display:inline-block;
        vertical-align: top;
    }